.weather-container {
  display:flex;
  max-width: 500px;
  margin: 5rem auto;
  height:50%;
  //position: relative;
}

.temperature {
  margin: 0 auto;
  padding: 0.4em;
  z-index: 1;
  font-size: 5rem;
  width: 100%;
  justify-content: center;
  display:flex;

}

.week-forecast{
  padding: 1.5em;
  z-index: 1;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  display:flex;
  gap: 12px;
  flex-wrap: wrap;

  }

.imgCss{
  height: 250px;
  width: 250px;
  margin-right: 1.5rem;
}

.searchBar{
  margin: auto;
  padding-left: 86px;
}

.days{
  font-size:1rem;
}

sup{
  //font-size: 1rem;
}

.icon-display {
  transform: scale(0.6);
}

.weatherIcon {
  background-size: cover;
  background-color: powderblue;
}

.highLow {
  display: flex;
  justify-content: center;
  margin-right:10px;
}

.marginPX{
  margin-right: 10px;
}

.imgContainer {
  margin: 1rem auto; text-align: center; width:100%
}

.desc {
  font-size: 1rem; font-family: monospace;
}
